{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
	<title>Student Leadership Conference Registration</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Register for the Student Leadership Conference" />
	<meta name="keywords" content="slc, student leadership conference, registration" />
	<meta name="author" content="Adam Berg" />

	<link rel="stylesheet" type="text/css" media="screen" href="/static/css/master.css" />
	<link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

	</head>
	<body>
		<div id="bg">
			<img src="{% static 'img/background.jpg' %}" alt="">
		</div>

		<div class = "promo-box">
			<div class="inner">
			<h1>Student <br/>Leadership<br/> Conference</h1>
			<p>Registration opens <br/>November 18, 2013</p>
			</div>
		</div>
	</body>
 </html>
