{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Student Leadership Conference Registration</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Register for the Student Leadership Conference" />
    <meta name="keywords" content="slc, student leadership conference, registration" />
    <meta name="author" content="Adam Berg" />

    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/master.css" />
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

  </head>
  <body>
    <div id="bg">
      <img src="{% static 'img/background.jpg' %}" alt="">
    </div>
    <div id="container">
      <div id="header">
        <h1><a href="/">slc-registration</a></h1>
      </div><!-- /header-->

      <div id="content-container">
        <h2 class="intro"><span>Student Leadership Conference</span><br/>Registration Closed</h2>
        <p class="intro">Registration is now closed - see you at the conference on Saturday!</p>
        <p id="xtra-info">Got any feedback or problems? Email us at webmaster@slc.ubc.ca.</p>
  
      </div><!-- /content-container-->
      <div id="footer"><p>Made by <a href="http://slc.ubc.ca">Student Leadership Conference</a> | Hosting by <a href="https://www.ubc.ca">UBC</a></p></div>
    </div><!-- /container-->
   </body>
 </html>
