{% extends "base.html" %}
{% block content %}
<div id="intro">
  <h2 class="intro"><span>Student Leadership Conference</span><br/>Registration</h2>

  <p class="intro">Final day for registration is Thursday January 10th. New session signups are fine, but all changes will be ignored. <br/>This page is best viewed in Chrome,
  Firefox, or Safari. Internet Explorer is not supported at this time.</p>
  
  <p id="xtra-info">Got any feedback or problems? Email us at &#119;&#101;&#098;&#109;&#097;&#115;&#116;&#101;&#114;&#064;&#115;&#108;&#099;&#046;&#117;&#098;&#099;&#046;&#099;&#097;.</p>
  
</div><!-- /intro-->
{% endblock %}
