
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Student Leadership Conference Registration</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Register for the Student Leadership Conference" />
    <meta name="keywords" content="slc, student leadership conference, registration" />
    <meta name="author" content="Michael Muthukrishna" />

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/master.css" />
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tablesorter.js" %}"></script>
    

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36441810-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

  </head>
  <body>
    <div id="container">	
      <div id="header">

        <h1><a href="/">slc-registration</a></h1>
    </div><!-- /header-->
      
      <div id="content-container">
        
<div id="intro">
  <h2 class="intro"><span>Student Leadership Conference</span><br/>Registration Closed</h2>

  <p class="intro">Registration is now closed - see you at the conference on Saturday!</p>
  
  <p id="xtra-info">Got any feedback or problems? Email us at &#119;&#101;&#098;&#109;&#097;&#115;&#116;&#101;&#114;&#064;&#115;&#108;&#099;&#046;&#117;&#098;&#099;&#046;&#099;&#097;.</p>
  
</div><!-- /intro-->

      </div><!-- /content-container-->
      <div id="footer"><p>Made by <a href="http://slc.ubc.ca">Student Leadership Conference</a> | Hosting by <a href="https://www.ubc.ca">UBC</a></p></div>
    </div><!-- /container-->
   </body>
 </html>
