{% extends 'confsessions/base_session.html' %}
{% load i18n %}

{% block title %}{% trans "Review" %}{% endblock %}

{% block sessions %}
<h1 class='text-center'>Review</h1>
<div class='review'>
{% if user.is_authenticated %}
	{% if profile.submitted_registration %}
		{% for session in profile.get_registered_sessions %}
			<div class="sessiontime-header">
				<h2>{{session.get_time}} - {{ session.sessiontype.session_time.name }}</h2>
			</div>
			<div class="session center-block">
				<div class="session-header">
					<h3>{{ session.name }}</h3>
					<h4>{{ session.presenter}}</h4>
				</div>
				<div class="session-body">
					{% if session.teaser %}
					<p class="teaser">{{ session.teaser }}</p>
					<p class="description">{{ session.description }}</p>
					<button type="button" class="tease_btn btn btn-default btn-s center-block"><span class="caret"></span></button>
					{% else %}
					<p class="description hide">{{ session.description }}</p>
					{% endif %}
				</div>

				<div class="session-footer">
					Change
					<a id='btn_{{ session.pk }}' href="{% url 'sessiontime' session.sessiontype.session_time.pk %}"><span class='link-spanner'></span></a>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<h3 class="text-center">{% trans "Here's what you signed up for. Take one more look before completing your registration." %}</h3>
		{% for session in profile.get_saved_sessions.all %}
			<div class="sessiontime-header">
				<h2>{{session.get_time}} - {{ session.sessiontype.session_time.name }}</h2>
			</div>
			<div class="session center-block">
				<div class="session-header">
					<h3>{{ session.name }}</h3>
					<h4>{{ session.presenter}}</h4>
				</div>
				<div class="session-body">
					{% if session.teaser %}
					<p class="teaser">{{ session.teaser }}</p>
					<p class="description">{{ session.description }}</p>
					<button type="button" class="tease_btn btn btn-default btn-s center-block"><span class="caret"></span></button>
					{% else %}
					<p class="description hide">{{ session.description }}</p>
					{% endif %}
				</div>

				<div class="session-footer">
					Change
					<a id='btn_{{ session.pk }}' href="{% url 'sessiontime' session.sessiontype.session_time.pk %}"><span class='link-spanner'></span></a>
				</div>
			</div>
		{% endfor %}
	{% endif %}
{% endif %}
</div>

{% if not profile.paid %}
<div class="container form-group">
	<form action='https://secure.students.ubc.ca/leadership/payment.cfm' method='post' name='frm'>
		<input type='hidden' name='cf_field_6' value='{{ user.get_profile.is_ubc }}'>
		<input type='hidden' name='cf_field_9' value='{{ user.email }}'>
		<input type='hidden' name='cf_field_3' value='{{ user.first_name }}'>
		<input type='hidden' name='cf_field_5' value='{{ user.last_name }}'>
		<input type='hidden' name='cf_field_7' value="{{ user.get_profile.studentnum }}">
		<input type='hidden' name='cf_field_8' value="{{ user.get_profile.phonenum }}">
		<div class="input-group center-block">
		{% if not profile.is_ready_for_payment %}
			<p class="text-center">{% trans 'You need to complete all steps before you can pay' %}</p>
			<div class="text-center">
				<div class="btn-group">
					<a class="btn btn-default btn-lg" href='/sessions/sessiontime/{{ prev_sessiontime.pk }}'>back</a>
				</div>
				<div class="btn-group">
					<input type="submit" name="submit" value="Pay Now" class='btn btn-primary btn-lg disabled center-block'>
				</div>
			</div>
		{% else %}
			<div class="text-center">
				<div class="btn-group">
					<a class="btn btn-default btn-lg" href='/sessions/sessiontime/{{ prev_sessiontime.pk }}'>back</a>
				</div>
				<div class="btn-group">
					<input type="submit" name="submit" value="Pay Now" class='btn btn-primary btn-lg center-block'>
				</div>
			</div>
		{% endif %}
		</div>
	</form>
</div>
{% elif profile.has_group and not profile.submitted_registration %}
	<p class="text-center">You've been sponsored by {{ payment_groups }}.</p>
	{% if not profile.is_ready_for_payment %}
		{% if profile.get_full_saved_sessions %}
			<p class="text-center">The folowing sessions are full: {{ profile.get_full_saved_sessions }} please select a new session to attend.</p>
		{% else %}
		<p class="text-center">{% trans "Your schedule isn't quite complete." %}</p>
		{% endif %}
		<div class="text-center">
			<div class="btn-group">
				<a class="btn btn-default btn-lg" href='/sessions/sessiontime/{{ prev_sessiontime.pk }}'>back</a>
			</div>
			<div class="btn-group">
				<input type="submit" name="submit" value="{% trans 'Register' %}" class='btn btn-primary btn-lg disabled center-block'>
			</div>
		</div>
	{% else %}
	<div class="text-center">
		<div class="btn-group">
			<a class="btn btn-default btn-lg" href='/sessions/sessiontime/{{ prev_sessiontime.pk }}'>back</a>
		</div>
		<div class="btn-group">
			<a class="btn btn-primary btn-lg" href="{% url 'registraton_complete' %}">{% trans "Register" %}</a>
		</div>
	</div>
	{% endif %}
{% else %}
	<p class="text-center">You've successfully registered for the conference.</p>
	<div class="text-center">
		<div class="btn-group">
			<a class="btn btn-default btn-lg" href='/sessions/sessiontime/{{ prev_sessiontime.pk }}'>back</a>
		</div>
		<div class="btn-group">
			<button disabled="disabled" class='btn btn-primary btn-lg center-block'>{% trans "Register" %}</button>
		</div>
	</div>
{% endif %}

{% block bottom_buttons %}{% endblock %}

{% endblock %}
