{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{{ profile.user.username }}'s {% trans "schedule" %}{% endblock %}
{% block content %}

<div class='review'>
{% if user.is_authenticated %}
	{% if profile.paid %}
		{% for session in profile.get_registered_sessions %}
			<div class="sessiontime-header">
				<h2>{{session.get_time}} - {{ session.sessiontype.session_time.name }}</h2>
			</div>
			<div class="session center-block">
				<div class="session-header">
					<h3>{{ session.name }}</h3>
					<h4>{{ session.presenter}}</h4>
				</div>
				<div class="session-body">
					{% if session.teaser %}
					<p class="teaser">{{ session.teaser }}</p>
					{% endif %}
					<p class="description">{{ session.description }}</p>
					{% if session.teaser %}
					<button type="button" class="tease_btn btn btn-default btn-xs center-block">...</button>
					{% endif %}
				</div>

				<div class="session-footer">
					<a id='btn_{{ session.pk }}' href="{% url 'sessiontime' session.sessiontype.session_time.pk %}" class='button'>Change</a>
				</div>
			</div>
		{% endfor %}
	{% else %}
		{% for session in profile.get_saved_sessions.all %}
			<div class="sessiontime-header">
				<h2>{{session.get_time}} - {{ session.sessiontype.session_time.name }}</h2>
			</div>
			<div class="session center-block">
				<div class="session-header">
					<h3>{{ session.name }}</h3>
					<h4>{{ session.presenter}}</h4>
				</div>
				<div class="session-body">
					{% if session.teaser %}
					<p class="teaser">{{ session.teaser }}</p>
					{% endif %}
					<p class="description">{{ session.description }}</p>
					{% if session.teaser %}
					<button type="button" class="tease_btn btn btn-default btn-xs center-block">...</button>
					{% endif %}
				</div>

				<div class="session-footer">
					<a id='btn_{{ session.pk }}' href="{% url 'sessiontime' session.sessiontype.session_time.pk %}" class='button'>Change</a>
				</div>
			</div>
		{% endfor %}
	{% endif %}
{% endif %}
</div>

{% endblock %}
