/*	Main elements
................................... */

html, body{
    font-family: 'Open Sans', sans-serif;
}

body {
	margin-left: 0;
	margin-right: 0;
}

.review .session {
    width: 98%;
    max-width: 500px;
}

.navbar-default {
	background-color: #f8f8f8;
	border-color: #e7e7e7;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .control-group
{
    font-size: 16px;
    height: auto;
    padding: 10px;
}

.account-wall
{
	max-width: 400px;
    margin-top: 20px;
    padding: 0px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.promo-box {
	position: absolute;
	background: #6aa37e;
	background: rgba(106, 163, 126, 0.8);
	margin: auto;
	top: 0;
	left: 8%;
	padding: 20px;
}

.promo-box .inner {
	margin: 20px;
}

.slc-logo {
	height: 150px;
	background: url('/static/img/slc-logo.png') no-repeat;
	background-size: contain;
}

.promo-box h1, .promo-box h2 {
	margin: 0;
	color: white;
}

.promo-box h1 {
	font-size: 3em;
}

.promo-box h2 {
	font-size: 1.6em;
}

.promo-box p {
	font-size: 1.6em;
	font-weight: bold;
}

#bg {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	z-index: -999;
}

#bg img {
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	margin: auto; 
	min-width: 50%;
	min-height: 50%;
}

.sessiontime {
    text-align: center;
    float: left;
    width: 100px;
}

footer {
	padding-top: 40px;
	padding-bottom: 30px;
	margin-top: 100px;
	color: #777;
	border-top: 1px solid #E5E5E5;
}

footer .slc-social {
	margin: 20px 0;
}

footer ul li {
	padding: 10px;
}

footer ul:first-child {
	padding-left: 0;
}

/*	Type
................................... */

h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans', arial, "Times New Roman", Geneva, sans-serif; }

p {
	line-height: 1.3em;
}

h1 {
    font-size: 3em;
}

h3{
    font-size: 1.2em;
}

h4, h5{
    font-size: 1.0em;
    margin: 0;
}

h6{
    font-size: 0.7em;
}

.link-spanner{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
} 

.white-box img{
    float: right;
    border: 3px double #f1edeb;
    padding: 4px;
    background-color: #fff;
    margin: 0 10px;
}

.close {
	font-size: 1em;
}

/*progressbar*/
#progressbar {
	margin: 30px 0;
	overflow: hidden;
	counter-reset: step;
	padding: 0;
    list-style-type: none;
}
#progressbar li {
	counter-increment: step;
	list-style-type: none;
	color: #EEE;
	text-transform: uppercase;
	font-size: 14px;
	width: 12.5%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	color: #FFF;
	width: 40px;
	line-height: 40px;
	border-radius: 20px;
	display: block;
	font-size: 20px;
	background: #AAA;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 4px;
	background: #AAA;
	position: absolute;
	left: -50%;
	top: 17px;
	z-index: -1;
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
#progressbar li .complete {
	color: green;
}

#progressbar li.active:before{
	background: #3c6677;
}

/*  sessions
................................... */

.sessions {
	margin-right: 0;
	margin-left: 0;
	padding-top: 15px;
}

.sessiontime-header {
	text-align: center;
}

.session-header {
	text-align: left;
	padding: 15px;
	border-bottom: 1px solid #EEE;
}

.session-header h3 {
	padding-bottom: 4px;
	color: black;
	font-weight: bold;
}

.session {
	text-align: center;
	background-color: #FFF;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	margin-bottom: 30px;
}

.session-body {
	padding: 10px 15px;
	font-size: 13px;
	text-align: justify;
}

.session-footer {
	position: relative;
	display: block;
	padding: 10px 15px 10px;
	*zoom: 1;
	background: #3c6677;
	text-decoration: none;
}

.session-footer.full {
	background: #eff2a9;
}

.session-footer.register {
	cursor: pointer;
}

.session-footer.registered {
	background: #6aa37e;
}
