body {
	background: 0;
}

#login-form-container {
	position: fixed;
	background: #E5EEFA;
	width: 50%;
	left: 50%;
	margin: 0 0 0 -25%;
}

#login-form {
	width: 80%;
	margin: 35px auto;
}

#login-form h1 {
	font-weight: bold;
	display: block;
	color: #0B2244;
	font-size: 50px;
	text-align: center;
}

#login-form h2 {
	font-family: fragmentCore;
	line-height: 1.2;
	margin: 10px auto;
	font-size: 1.5em;
	color: #0B2244;
	text-align: center;
	text-transform: none;
}

#login-form .form_row {
	float: none;
	margin: 0 auto;
	border-bottom: 1px solid #CCC;
	height: 80px;
	background: #EEE;
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
	color:    #888;
}

#login-form input {
	font-family: whitneyBook;
	font-size: 1.8em;
	float: none;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	background: transparent;
	margin: 20px auto;
	width: 90%;
	padding: 0;
	float: right;
	line-height: 40px;
}

#login-form button {
	font-family: whitneyBook;
	display: block;
	margin: 30px auto;
	width: 90%;
	height: 75px;
	padding: 0;
	font-size: 2em;
}

#id_username {
}

#id_password1, #id_password2 {
	
}

#id_email {

}

.fullscreen_post_bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-position: 50% 50%;
	z-index: -1;
}

.login_link, .forgot_password_link {
	font-size: 1em;
	text-align: center;
}
