body {
	background: 0;
}

#login-form-container {
	position: fixed;
	background: #E5EEFA;
	width: 50%;
	left: 50%;
	margin: 0 0 0 -25%;
}

#login-form {
	width: 90%;
	margin: 35px auto;
}

#login-form h1 {
	display: block;
	color: #0B2244;
	font-size: 50px;
	text-align: center;
}

#login-form h2 {
	font-family: fragmentCore;
	line-height: 1.2;
	position: relative;
	left: 50%;
	margin: 8px 0 18px -225px;
	width: 450px;
	font-size: 20px;
	color: #0B2244;
	text-align: center;
	text-transform: none;
}

#login-form .form_row {
	float: none;
	width: 90%;
	margin: 0 auto;
	border-bottom: 1px solid #CCC;
	height: 80px;
	background: #EEE;
}

#login-form input {
	float: none;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	background: transparent;
	line-height: 80px;
	margin: 0 auto;
	width: 90%;
	padding: 0;
	float: right;
}

#login-form button {
	display: block;
	margin: 30px auto;
	width: 90%;
	height: 75px;
	padding: 0;
}

#id_username {
}

#id_password1, #id_password2 {

}

#id_email {

}

.submit_button {
	width: 100%;
	border-color: #4a7c9f;
	background: #6aa5cf;
	background: -moz-linear-gradient(top,#6aa5cf 0,#5791bb 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#6aa5cf),color-stop(100%,#5791bb));
	background: -webkit-linear-gradient(top,#6aa5cf 0,#5791bb 100%);
	background: -o-linear-gradient(top,#6aa5cf 0,#5791bb 100%);
	background: #6aa5cf -ms-linear-gradient(top,#6aa5cf 0,#5791bb 100%);
	background: linear-gradient(top,#6aa5cf 0,#5791bb 100%);
	border-color: rgba(0,0,0,0.65);
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	padding: 0;
	line-height: 34px;
	margin: 18px 0;
	float: none;
	display: inline-block;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	height: 39px;
	-webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,.6),0 1px 0 0 rgba(255,255,255,0.14902);
	-moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,.6),0 1px 0 0 rgba(255,255,255,0.14902);
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,.6),0 1px 0 0 rgba(255,255,255,0.14902);
}

.fullscreen_post_bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-position: 50% 50%;
	z-index: -1;
}

.login_link, .forgot_password_link {
	font-size: 1em;
	text-align: center;
}
