{% load i18n static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
    <title>{% block title %}Student Leadership Conference Registration{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Register for the Student Leadership Conference" />
    <meta name="keywords" content="slc, student leadership conference, registration" />
    <meta name="author" content="Adam Berg" />

    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/master.css' %}" />
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}" %}></script>
    {% block scripts %}{% endblock %}

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36441810-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    </head>
    <body>
        <div id="container">
        {% block content_title %}{% endblock %}
			<div id="UbcHeaderWrapper">
			<!-- BEGIN: UBC CLF VISUAL IDENTITY HEADER -->
			  <ul id="UbcHeader" class="UbcContainer">
				<li>
				  <a id="UbcLogo" href="http://www.ubc.ca/">The University of British Columbia</a>
				</li>
				<li class="UbcMindLink"><a href="http://www.aplaceofmind.ubc.ca/" id="UbcMindLink">a place of mind</a></li>
				<li id="UbcHeaderLine"><a href="http://ubc.ca" id="UbcHeaderLink"><span>The University of British Columbia</span></a></li>

				<li id="UbcSubUnitLine"><a href="http://slc.sites.olt.ubc.ca/" id="UbcSubUnitLink"><span>Student Leadership
			Conference</span></a></li>
			  </ul>
			</div>
            <div id="body-container">
                <div id="navigation">
                <div id="menu-top-menu" class="page-nav pipes single-dropdown">
                    {% block nav %}
                    <ul id="menu-standard-menu" class="menu">
                        <li class="page-nav"><a href="{% url 'sessions' %}">{% trans 'Sessions' %}</a></li>
                        {% if user.is_authenticated %}
                        <li class="page-nav"><a href="{% url 'userena_profile_detail' user.username %}">{% trans 'Account' %} ({{ user.username }})</span></a></li>
                        <li class="page-nav"><a href="{% url 'userena_signout' %}">{% trans 'Log Out' %}</span></a></li>
                        {% else %}
                        <li class="page-nav"><a href="{% url 'userena_signin' %}">{% trans 'Log In' %}</a></li>
                        <li class="page-nav"><a href="{% url 'userena_signup' %}">{% trans 'Sign Up' %}</a></li>
                        {% endif %}
                    </ul>
                    {% endblock %}
                </div>
                <div id="header">
                    slc-registration
                </div><!-- /header-->
                {% block content %}{% endblock %}
            </div><!-- /content-container-->
            <div class="clearfix" id="footer"><p>{% trans 'Made by' %} <a href="http://slc.ubc.ca">Student Leadership Conference</a> | Hosting by <a href="https://www.ubc.ca">UBC</a></p></div>
        </div><!-- /container-->
    </body>
</html>
