{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block content %}

	{% block profile-nav %}
	<ul id="profile-nav">
		<li id="my_schedule"><a href="{% url 'userena_profile_detail' user.username %}">{% trans "My Schedule" %}</a></li>
		<li id="edit_profile"><a href="{% url 'userena_profile_edit' user.username %}">{% trans "Register and Pay" %}</a></li>
		<li id="change_password"><a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a></li>
		<li id="change_email"><a href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a></li>
	</ul>
	{% endblock %}

	{% block inner_content %}{% endblock %}

{% endblock %}
