{% extends 'userena/base_profile.html' %}
{% load i18n %}

{% block content_title %}<h2 class="content-title">Account &raquo; {{ account.user.username }}</h2>{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function() {
      $("#change_email").addClass("selected");
    });
  </script>
{% endblock %}

{% block inner_content %}

<form action="" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans "Change email address" %}</legend>
        {{ form.as_p }}
    </fieldset>
    <input type="submit" value="{% trans 'Change email' %}" />
</form>
{% endblock %}
