{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{{ profile.user.username }}'s {% trans "schedule" %}.{% endblock %}
{% block content %}

<ul class ="sessions clearfix">
{% if user.is_authenticated %}
	{% if user.get_profile.unpaid %}
		{% for session in profile.saved_sessions.all %}
			<h1>{{session.get_time}}</h1>
			<li class="modal one-column">
			<div class="modal-header">
				<h3>{{ session.name }}</h3>
				<h4>{{ session.presenter}}</h4>
			</div>
			<div class="modal-body">
				<p id="tease_{{ session.pk }}">{{ session.teaser }} 
					<div id="clickread_{{ session.pk }}">Click to read full description...</div>
				</p> 
				<p id="desc_{{ session.pk }}">{{ session.description }}</p>
			</div>

			<div class="modal-footer">
				<a id='btn_{{ session.pk }}' href="{% url 'sessiontime' session.sessiontype.session_time.pk %}" class='button'>Change</a>
			</div>
		</li>
		{% endfor %}
	{% else %}
		{% for session in profile.get_registered_sessions %}
			<h1 class="sessiontime-header">{{session.get_time}} - {{ session.sessiontype.session_time.name }}</h1>
			<li class="modal one-column">
			<div class="modal-header">
				<h3>{{ session.name }}</h3>
				<h4>{{ session.presenter}}</h4>
			</div>
			<div class="modal-body">
				<p id="tease_{{ session.pk }}">{{ session.teaser }} 
					<div id="clickread_{{ session.pk }}">Click to read full description...</div>
				</p> 
				<p id="desc_{{ session.pk }}">{{ session.description }}</p>
			</div>

			<div class="modal-footer">
				<a id='btn_{{ session.pk }}' href="{% url 'sessiontime' session.sessiontype.session_time.pk %}" class='button'>Change</a>
			</div>
		</li>
		{% endfor %}
	{% endif %}
{% endif %}
</ul>

{% endblock %}
