/* @override http://localhost:8000/media/css/master.css */

/*	WdeB
breadandpepper.com
................................... */

@import "reset.css";

/*	Main elements
................................... */

@font-face {
  font-family: whitneyBook;
  src: url(../Whitney-Book-Pro.otf);
}

@font-face {
  font-family: whitneyBold;
  src: url(../Whitney-Bold-Pro.otf);
}

@font-face {
  font-family: fragmentCore;
  src: url(../Fragmentcore.otf);
}

html, body{
    font-family: whitneyBold, helvetica, arial, Geneva, sans-serif;
}

.promo-box {
	position: absolute;
	background: #6aa37e;
	background: rgba(106, 163, 126, 0.8);
	margin: auto;
	top: 0;
	left: 8%;
	width: 300px;
}

.promo-box .inner {
	margin: 20px;
}

.promo-box h1, .promo-box h2 {
	margin: 0;
	color: white;
}

.promo-box h1 {
	font-size: 3em;
}

.promo-box h2 {
	font-size: 1.6em;
	font-family: fragmentCore;
}

.promo-box p {
	color: white;
	font-size: 1.6em;
	font-family: fragmentCore;
}

#bg {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	z-index: -999;
}

#bg img {
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	margin: auto; 
	min-width: 50%;
	min-height: 50%;
}

#navmenu {
    width: 100%;
    background: #1b1b1b;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#353535), to(#010101));
    background: -webkit-linear-gradient(0% 0%, 0% 100%, from(#353535), to(#010101));
    background: -moz-linear-gradient(center top, #353535, #010101);
    background: linear-gradient(#353535, #010101);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.8);
    height: 56px;
    line-height: 56px;
    border-top: 1px solid #4A4A4A;
    border-bottom: 1px solid #000;
}

#navmenu-content {
    width: 980px;
    margin: auto;
}

.navmenu-left {
    float: left;
}

.navmenu-right {
    float: right;
}

#nav li{
    float: left;
    margin: 0 0 0 10px ;
}

#reg-nav {
    width: 700px;
    margin: 10px auto;
}

.sessiontime {
    text-align: center;
    float: left;
    width: 100px;
}

#footer{
    background: url(../img/stripe.png) repeat-x center top;
    margin: 40px 12px 0;
    padding: 20px 0;
}

.white-box{
    margin: 15px auto 20px;
    padding: 12px 0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: #efebe8;
    width: 506px;
    -moz-box-shadow: inset 0 0 3px #999;
    -webkit-box-shadow: inset 0 0 3px #999;
    box-shadow:  inset 0 0 3px #999;
    overflow: auto;
}

#details{
    width: 140px;
    margin: 0 0;
    background-color: #fffeff;
    padding: 6px;
    text-align: left;
    -webkit-border-radius: 7px; 
    -moz-border-radius: 7px; 
    border-radius: 7px;
    -moz-box-shadow: 0 0 3px #999;
    -webkit-box-shadow: 0 0 3px #999;
    box-shadow: 0 0 3px #999;
    overflow: hidden;
}

#details img{
    margin: 0 0 10px;
}

/*	Type
................................... */

h1, h2, h3, h4, h5, h6 { font-family: whitneyBold, arial, "Times New Roman", Geneva, sans-serif; text-transform: uppercase; }

p{
    font-size: 0.9em;
    line-height: 1.5em;
    color: #444;
    margin: 0 0 0.9em 0;
}

.white-box p{
    margin: 0 12px 5px;
    color: #000;
}

h1{
    margin: 5px 25px;
    color: #6aa37e;
    font-size: 2.2em;
}

h2.content-title{
    font-size: 1.5em;
    margin: 10px;
    padding: 15px 15px 12px;	
    background: #e7e2de no-repeat 90px 30px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
     -moz-box-shadow: inset 0 0 3px #999;
    -webkit-box-shadow: inset 0 0 3px #999;
    box-shadow: inset 0 0 3px #999;
}

h2.intro{
    font-size: 1.8em;
    margin: 10px 20px 9px 380px;
    padding: 0 0 5px;
    background: url(../img/stripe.png) repeat-x 0 bottom;
}

h2.sessions:hover{
    color: #005580;
    cursor: hand;
    cursor: pointer;
}

.white-box h2{
    width: 482px;
    padding: 5px 12px 6px;
    font-size: 1.9em;
    font-weight: bold;
    text-transform: none;
    border-bottom: 1px solid #f1edeb;
    color: #ab292a;
    background-image: none;
}

h3{
    font-size: 1.2em;
}

h4, h5{
    font-size: 1.0em;
    margin: 0;
}

h6{
    font-size: 0.7em;
}

.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #3c6677;
    -webkit-box-shadow:inset 0px 1px 0px 0px #3c6677;
    box-shadow:inset 0px 1px 0px 0px #3c6677;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3c6677), color-stop(1, #3c6677) );
    background:-moz-linear-gradient( center top, #3c6677 5%, #3c6677 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c6677', endColorstr='#3c6677');
    background-color:#3c6677;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-indent:0;
    border:1px solid #3c6677;
    display:inline-block;
    color:#ffffff;
    text-decoration:none;
    text-align:center;
    padding: 10px;
    cursor: pointer;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3c6677), color-stop(1, #3c6677) );
	background:-moz-linear-gradient( center top, #3c6677 5%, #3c6677 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c6677', endColorstr='#3c6677');
	background-color:#3c6677;
}.button:active {
	position:relative;
	top:1px;
}

.button.pay_now {
	width: 100px;
	display: block;
	margin: 20px auto;
}

.white-box img{
    float: right;
    border: 3px double #f1edeb;
    padding: 4px;
    background-color: #fff;
    margin: 0 10px;
}

/*progressbar*/
#progressbar {
	margin: 30px 0;
	overflow: hidden;
	counter-reset: step;
}
#progressbar li {
	counter-increment: step;
	list-style-type: none;
	color: #EEE;
	text-transform: uppercase;
	font-size: 14px;
	width: 12.5%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	color: #FFF;
	width: 40px;
	line-height: 40px;
	border-radius: 20px;
	display: block;
	font-size: 10px;
	background: #AAA;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 4px;
	background: #AAA;
	position: absolute;
	left: -50%;
	top: 17px;
	z-index: -1;
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
#progressbar li.complete:before{
}

#progressbar li.active:before{
	background: #3c6677;
}

/*	Nav
................................... */

ul#profile-nav{
    margin: 0;
    list-style: none;
    height: 40px;
    position: relative;
    right: -450px;
    top: -47px;
    width: 490px;
}

ul#profile-nav li{
    float: left;
    text-align: center;
}

ul#profile-nav li.selected a{
    color: #111;
    padding: 8px 25px 8px;
    text-decoration: none;
    background-color: #f6f4f2;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-box-shadow: 0 -1px 1px #ccc;
    -webkit-box-shadow: 0 -1px 1px #ccc;
    box-shadow:  0 -1px 1px #ccc;
    border: 1px solid #fff;
    border-bottom: none;
}

ul#profile-nav li a{
    text-decoration: none;
    font-size: 0.7em;
    display: block;
    height: 20px;
    line-height: 25px;
    padding: 8px 25px 8px;
    color: #999997;
    text-align: center;
}

ul#profile-nav li a:hover{
    text-decoration: underline;
}

/*  sessions
................................... */

.sessions {
	padding: none;
	list-style-type: none;
}

.sessiontime-header {
	text-align: center;
}

.modal-header {
	text-align: left;
	padding: 10px 15px;
	border-bottom: 1px solid #EEE;
}

.modal {
	position: relative;
	width: 30.5%;
	float: left;
	text-align: center;
	background-color: #FFF;
	margin-left: 2%;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	margin-bottom: 30px;
}

.modal.one-column {
	margin-left: 0;
	width: 100%;
}

.modal-body {
	padding: 10px 15px;
	font-size: 13px;
	text-align: justify;
}

.modal-footer {
	display: block;
	padding: 10px 15px 10px;
	*zoom: 1;
	background: #3c6677;
	text-decoration: none;
	cursor: pointer;
}

.modal-footer:hover {
	color: #002145;
}

.modal-footer.full {
	background: #eff2a9;
}

.modal-footer.register {
	
}

.modal-footer.registered {
	background: #6aa37e;
}

.bottom-buttons {
    clear: both;
    width: 200px;
    margin: 20px auto;
}

.prev-button {
    float: left;
}

.next-button {
    float: right;
}
